---
title: Events
layout: "layouts/default.njk"
permalink: "events/"
---


<header class="listings__header">
    <h1>{{title}}</h1>
    {{ content | safe }}
</header>

{% set postslist = collections.events %}
<h2 class="listings__subtitle js-only">Upcoming Events</h2>
<ul class="events-list--upcoming listings__items grid--3-col">
    {% for post in postslist | reverse %}
        <li data-date="{{post.data.start}}" class="events-list__item--upcoming listings__item card">
            <a href="{{ post.url | url }}" aria-label="{{ post.data.title }}">
                <div class="card__image-wrapper">
                    {% if post.data.thumbnail %}
                        <img src="/static{{post.data.thumbnail}}" alt="">
                    {% else %}
                        <img src="/static{{settings.thumbnail}}" alt="">
                    {% endif %}
                </div>
                <div class="card__text">
                    <span>{{ post.data.start|readableDateTime }}</span>
                    <h3 class="card__title">{{ post.data.title }}</h3>
                </div>
            </a>
        </li>
    {% endfor %}
</ul>

<h2 class="listings__subtitle js-only">Previous Events</h2>
<ul class="events-list--previous listings__items grid--3-col js-only">
    {% for post in postslist | reverse %}
        <li data-date="{{post.data.start}}" class="events-list__item--previous listings__item card">
            <a href="{{ post.url | url }}" aria-label="{{ post.data.title }}">
                <div class="card__image-wrapper">
                    {% if post.data.thumbnail %}
                        <img src="/static{{post.data.thumbnail}}" alt="">
                    {% else %}
                        <img src="/static/images/default_thumbnail.jpg" alt="">
                    {% endif %}
                </div>
                <div class="card__text">
                    <span>{{ post.data.start|readableDateTime }}</span>
                    <h3 class="card__title">{{ post.data.title }}</h3>
                </div>
            </a>
        </li>
    {% endfor %}
</ul>

</div>