---
layout: layouts/default.njk
---
<div class="max-text-width">
    <header class="posts__header">
        {% if thumbnail %}
            <img src="/{{thumbnail}}" alt="">
        {% endif %}
        <p>{{ page.date|readableDate }}</p>
        <h1 class="posts__title">{{title}}</h1>
        {% if description %}
            <p class="posts__blurb">{{description}}</p>
        {% endif %}
    </header>

    <article class="prose prose-stone">
        {{ content | safe }}
    </article>
</div>