---
layout: layouts/default.njk
---
<header class="posts__header max-text-width">
    {% if thumbnail %}
        <img src="/{{thumbnail}}" alt="">
    {% endif %}
    <h1 class="posts__title">{{title}}</h1>
</header>

<div class="posts__sidebar-layout">
    <aside class="posts__sidebar">
        <ul class="posts__sidebar-items">
            <li class="posts__sidebar-item">
                <h2 class="posts__sidebar-title">Date</h2>
                <p>{{start|readableDate}}</p>
            </li>
            <li class="posts__sidebar-item">
                <h2 class="posts__sidebar-title">Time</h2>
                <p>{{start|readableTime}} {% if finish %}- {{finish|readableTime}}{% endif %}</p>
            </li>
            {% if location %}
                <li class="posts__sidebar-item">
                    <h2 class="posts__sidebar-title">Location</h2>
                    <p>{{location}}</p>
                </li>
            {% endif %}
            {% if link %}
                <li class="posts__sidebar-item">
                    <h2 class="posts__sidebar-title">Link</h2>
                    <a href="{{link.url}}">{{link.text}}</a>
                </li>
            {% endif %}
        </ul>
    </aside>

    <article class="prose prose-stone posts__content">
        {{ content | safe }}
    </article>
</div>