---
layout: "layouts/default.njk"
---
<div class="content__content max-text-width">
    <header class="listings__header">
        <h1>{{title}}</h1>
    </header>

    <article class="prose prose-stone">
        {{ content | safe }}
    </article>
</div>