---
layout: "layouts/default.njk"
---
<div class="static__content max-text-width">
    <header class="static__header">
        <h1>{{title}}</h1>
    </header>

    <article class="prose prose-stone">
        {{ content | safe }}
    </article>

    {% if path == "home" %}
        <div class="static__latest">
            <h2 class="static__subtitle">Latest</h2>
            {% set postslist = collections.blog | head(-3) %}

            <ul class="listings__items grid--3-col">
                {% for post in postslist | reverse %}
                    <li class="listings__item card">
                        <a href="{{ post.url | url }}" aria-label="{{ post.data.title }}">
                            <div class="card__image-wrapper">
                                {% if post.data.thumbnail %}
                                    <img src="{{post.data.thumbnail}}" alt="">
                                {% else %}
                                    <img src="/static/{{settings.thumbnail}}" alt="">
                                {% endif %}
                            </div>
                            <div class="card__text">
                                <span>{{ post.date|readableDate }}</span>
                                <h3 class="card__title">{{ post.data.title }}</h3>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if path == "contact" %}
        <form name="contact" method="POST" data-netlify="true">
            <input type="hidden" name="subject" 
            value="Inquiry from hairyvioletherbal.netlify.app" />
            <div>
                <label for="name">Your Name:</label>
                <input type="text" name="name" id="name" />
            </div>
            <div>
                <label for="email">Your Email:</label>
                <input type="email" name="email" id="email" />
            </div>
            <div>
                <label for="message">Message:</label>
                <textarea name="message" id="message"></textarea>
            </div>
            <button type="submit">Send</button>
        </form>
    {% endif %}

</div>